:root {
  --fnt-menu: "Nunito", Courier, monospace;
  --fnt-login: "Overpass";
  --clr-primary-white: #ffffff;
  --clr-primary-black: #444b59;
}

body {
  margin: 0;
  font-family: var(--fnt-menu);
  color: var(--clr-primary-white);
  background-color: #00abe1;
}

.container {
  margin-top: 4em;
  margin-left: 0.2em;
  margin-right: 1em;
  min-height: 500px;
  background-image: url(../img/Image.png);
  background-size: 350px 450px;
  background-repeat: no-repeat;
  background-position-x: 101%;
}

.container .sidebar-image {
  display: none;
}

/* Heading */
.login-form h1 {
  font-size: 1.2em;
  font-family: var(--fnt-login);
  letter-spacing: 3.6px;
  font-weight: 600;
}

.login-form h4 {
  color: var(--clr-primary-black);
  font-size: 0.9em;
  letter-spacing: 2.4px;
}

.login-form h4 a {
  color: var(--clr-primary-white);
  font-size: 0.9em;
  font-weight: 400;
  text-decoration: none;
}

.login-form h4 a:hover {
  color: #bde1ec;
}

.login-form div label {
  color: #444b59;
}

.login-form > div:nth-child(3) {
  margin-top: 50px;
}

/* footer */
.forget {
  float: right;
  color: white;
  text-decoration: none;
}

.sign-in-btn {
  background-color: #02c2ff;
  border: none;
  letter-spacing: 2.4px;
  font-weight: 600;
  border-radius: 50px;
}

.password-form {
  border-radius: 50px;
}

.divider {
  width: 50%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  text-align: center;
  color: #444b59;
}

/* Login Option */
.login-form .login-option {
  display: flex;
  justify-content: space-between;
}

.login-form .login-option a {
  margin: 0;
}

.login-form .login-option .google {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  border-radius: 5px;
}

.login-form .login-option .google:hover,
.login-form .login-option .facebook:hover,
.login-form .login-option .apple:hover {
  background-color: #bde1ec;
}

.login-form .login-option .google a {
  background-image: url(../img/google.png);
  background-size: cover;
  display: inline-block;
  border: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  margin: 5px 10px;
}

.login-form .login-option .facebook {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  border-radius: 5px;
}

.login-form .login-option .facebook a {
  background-image: url(../img/facebook.png);
  background-size: cover;
  display: inline-block;
  border: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  margin: 5px 10px;
}
.login-form .login-option .apple {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 60px;
  border-radius: 5px;
}

.login-form .login-option .apple a {
  background-image: url(../img/apple.png);
  background-size: cover;
  display: inline-block;
  border: 0;
  width: 30px;
  height: 30px;
  font-size: 0;
  margin: 5px 10px;
}

/* Responsive Breakpoints */
@media (min-width: 1000px) {
  .container {
    margin-top: 4em;
    margin-left: 4em;
    background-image: none;
  }

  .container .sidebar-image {
    display: initial;
    width: 2%;
    height: 85vh;
  }

  .forget {
    color: white;
    text-decoration: none;
  }
}
